.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
uv.lock
.venv

# Jupyter artifacts
lectures/.ipynb_checkpoints
lectures/cache
lectures/iframe_figures
exercises/.ipynb_checkpoints

# Dot files
.DS_Store
*.egg-info
dist/
build/
